/* Define dark and light palettes with CSS variables */

/* Light Mode */
:root[color-mode="light"] {
  --surface1: #ffffff;
  --surface2: #dddddd;
  --surface3: #bbbbbb;
  --element1: #000000;
  --element2: #222222;
  --element3: #444444;
  --elementInverse: #ffffff;
  --primary: #007f00;
  --secondary: #0000ff;
  --tertiary: #7f007f;
}

/* Dark Mode */
:root[color-mode="dark"] {
  --surface1: #000000;
  --surface2: #222222;
  --surface3: #444444;
  --element1: #ffffff;
  --element2: #dddddd;
  --element3: #bbbbbb;
  --elementInverse: #000000;
  --primary: #7fff7f;
  --secondary: #7f7fff;
  --tertiary: #ff7fff;
}

body {
  color: var(--element1);
  background: var(--surface1);
  padding: 0;
  margin: 0;
  transition: background 2s;
}

p {
  color: var(--element1)
}

a {
  transition: 0.3s;
}

a:link {
  color: var(--element3);
}

a:visited {
  color: var(--element3);
}

a:active {
  color: var(--element3);
}

a:hover {
  color: var(--element1); 
}

div.menu_container {
  display: inline-block;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 32px;
  padding-bottom: 0px;
  background: var(--surface2); 
}

ul.menu {
  list-style-type: none;
/*  margin: 0;*/
  padding-left: 32px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background: var(--surface2); 
  transition: background 2s;
}

li.menu {
/*  background: var(--surface2); */
}

button {
  background-color: var(--element1);
  color: var(--elementInverse);
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  transition: background 2s;
}

input:autofill {
  background-color: var(--surface1);
  background: var(--surface1);
  color: var(--element1);
}

input:-webkit-autofill {
  background-color: var(--surface1);
  color: var(--element1);
  transition: background 2s;
}

input[type=text], input[type=email], input[type=password] {
  background-color: var(--surface1);
  color: var(--element1)
  background: var(--surface1);
  border:1px solid var(--element1);
  border-radius:4;
  box-shadow: 0px 0px 4px var(--element1);
  transition: background 2s;
}

select {
  background-color: var(--surface1);
  color: var(--element1)
  background: var(--surface1);
}

select option {
  background-color: var(--surface1);
  color: var(--element1)
  background: var(--surface1);
}

.skip-link {
  position: absolute;
  top: -3em;
}

.skip-link:focus {
  top: 0;
}

.alert {
  position: absolute;
  top: 0;
}
