/* Define dark and light palettes with CSS variables */

/* Light Mode */
:root[color-mode="light"] {
  --surface1: #ffffff;
  --surface2: #dddddd;
  --surface3: #bbbbbb;
  --element1: #000000;
  --element2: #111111;
  --element3: #222222;
  --elementInverse: #ffffff;
  --primary: #00ff00;
  --secondary: #0000ff;
  --tertiary: #ff00ff;
}

/* Dark Mode */
:root[color-mode="dark"] {
  --surface1: #000000;
  --surface2: #222222;
  --surface3: #444444;
  --element1: #ffffff;
  --element2: #eeeeee;
  --element3: #dddddd;
  --elementInverse: #000000;
  --primary: #00ff00;
  --secondary: #0000ff;
  --tertiary: #ff00ff;
}

body {
  color: var(--element1);
  background: var(--surface1);
  padding: 0;
  margin: 0;
}

p {
  color: var(--element1)
}

a:link {
  color: var(--primary);
}

a:visited {
  color: var(--secondary);
}

a:active {
  color: var(--tertiary);
}

a:hover {
  color: var(--tertiary);
}

button {
  background-color: var(--element1);
  color: var(--elementInverse);
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
}

